# Ignore files during Docker build
.github
.vscode
.devenv
README.md
deploy
sample-apps

# Frontend - keep node_modules minimal
node_modules

# Don't ignore .git as it's needed for versioning
# !.git
